body {
    font-family: Arial, sans-serif;
    color: #333;
}

header .nav-link {
    color: #333;
    font-weight: bold;
}

.intro {
    background-color: #fff;
    height: 60vh;
    display: flex;
    align-items: center; 
}

.intro h1 {
    font-size: 36px;
    margin-bottom: 20px;
}


.intro p {
    font-size: 18px;
    margin-bottom: 20px;
}

.intro .btn-danger {
    background-color: #FF6464;
    border-color: #FF6464;
}

.recent-posts {
    background-color: #f4f7fb;
}

.featured-works img {
    border-radius: 10px;
}

footer ul {
    list-style: none;
}

footer .list-inline-item a {
    font-weight: bold;
}

.container-intro{
    display: flex;
}
